<form action="/activities-rosario/all" method="POST" id="filter">
  <div id="indexTitle" class="shadow d-flex justify-content-center align-items-center p-3 mb-2 bg-dark rounded-lg flex-column">
    <h2>Actividades municipales</h2>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4">

      {{!-- Por ahora esto queda con DatePicker, despues veremos como lo hacemos bien --}}
      <div class="form-group">
        Desde:
        <div class="input-group date mydatepicker">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Fecha desde" name="dateFrom" value="{{dateFrom}}"
            required>
        </div>
      </div>

      <div class="form-group">
        Hasta:
        <div class="input-group date mydatepicker">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Fecha hasta" name="dateTo" value="{{dateTo}}">

        </div>
      </div>
    </div>

    {{>selectTagAndZone}}

    <div class="col-12 col-lg-4">
      <button id="btnSearch" class="btn btn-primary btn-block mb-4">Buscar <i class="fa fa-search"
          aria-hidden="true"></i></button>
    </div>
  </div>
</form>

<div class="row">
  {{#each activitiesRender}}
  <!-- Bucle de handlebar (NO HTML) -->
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="card activity mb-4" style="background-image: url('{{activity.image}}');">
      <div class="infoDate"> {{format occurence.start_date}} </div>
      <div class="card-content activity">
        <h2 class="card-title activity">
          {{activity.name}}
        </h2>
        <p class="card-body activity">
          {{{activity.description2}}}
        </p>
        <a href="/activities-rosario/activity?actID={{activity.id}}&occurID={{occurence.id}}"
          class="button activity">Ver más</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{!-- <div class="row">
  {{#each activitiesRender}}
  <!-- Bucle de handlebar (NO HTML) -->
  <div class=".col-xs-6 col-md-3">
    {{!-- <a href="/activities-rosario/activity/{{activity.id}}" class="cardLinkActRos">
      <a href="/activities-rosario/activity?actID={{activity.id}}&occurID={{occurence.id}}"
        class="card border-primary mb-3">
        <h4 class="card-header">{{activity.name}}</h4>
        <img src="{{activity.image}}" alt="/public/img/fondo-tecnologico-preferido-selectores.jpg"
          class="w-100 h-100 img-thumbnail">
        <div class="card-body">
          <span class="card-text">{{{activity.description2}}}</span>
        </div>
        <div class="card-footer">
          {{rule.text}}
          <p class="text-muted">Proximo Evento <br>
            desde {{format occurence.start_date}} <br>
            hasta {{format occurence.end_date}}
          </p>
        </div>
      </a>
  </div>
  {{/each}}
</div> --}}

{{>pagination}}