<div class="card mb-2">
    <div class="card-header">
        <h5><i class="fa fa-bar-chart" aria-hidden="true"></i> Info general</h5>
    </div>
    <div class="card-body">
        <p><i class="fa fa-activity-hunt" aria-hidden="true"></i> Actividades disponibles: {{sidebar.stats.activities}}</p>
        <p><i class="fa fa-activity-hunt" aria-hidden="true"></i> Actividades pasadas: {{sidebar.stats.activitiesPast}}</p>
        <p><i class="fa fa-comments" aria-hidden="true"></i> Comentarios: {{sidebar.stats.comments}}</p>
        <p><i class="fa fa-eye" aria-hidden="true"></i> Vistas: {{sidebar.stats.views}}</p>
        <p><i class="fa fa-heart" aria-hidden="true"></i> Recomendaciones: {{sidebar.stats.likes}}</p>
    </div>
</div>