<div class="card mb-2">
    <div class="card-header mb-1">
        <h3>Mis actividades organizadas</h3>
    </div>
    <div class="row pr-1 pl-1">
        {{#each activitiesOrganized}}
        <!-- Bucle de handlebar (NO HTML) -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card activity mb-4" style="background-image: url('/public/upload/{{pictureFileName}}');">
                <div class="edit-delete">

                    <form action="/activity/delete/{{_id}}?_method=DELETE" method="POST">
                        <!-- Con MethodOverride, decimos que haga delete -->
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-sm mb-2">Eliminar <i class="fa fa-times"
                                aria-hidden="true"></i></button>
                    </form>



                    {{#if banned}}
                    <a href="/activity/edit/{{_id}}"><button class="btn btn-warning p-3">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                            Esta actividad tuvo denuncias reiteradas, vuelve a subirla con un contenido apropiado
                        </button></a>

                    {{else}}
                    {{#ifCond today '>=' dFrom}}
                    <a href="/activity/edit/{{_id}}"><button class="btn btn-success btn-sm pl-pr-2">Vuelve a organizar
                            esta actividad! <i class="fa fa-pencil-square" aria-hidden="true"></i></button></a>

                    {{else}}
                    <a href="/activity/edit/{{_id}}"><button class="btn btn-success btn-sm pl-pr-2">Editar <i
                                class="fa fa-pencil-square" aria-hidden="true"></i></button></a>
                    {{/ifCond}}
                    {{/if}}

                </div>
                <div class="infoDate"> {{format dFrom}} </div>
                <div class="card-content activity">
                    <h2 class="card-title activity">
                        {{name}}
                    </h2>
                    <p class="card-body activity truncate-text">
                        {{description}}
                    </p>
                    <a href="/activity/{{_id}}" class="button activity">Ver más</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<div class="card mb-2">
    <div class="card-header mb-1">
        <h3>Mis inscripciones</h3>
    </div>
    <div class="row pr-1 pl-1">
        {{#each activitiesInscript}}
        <!-- Bucle de handlebar (NO HTML) -->
        <div class="col-12 col-sm-6 col-lg-3">
            <div class="card activity mb-4" style="background-image: url('/public/upload/{{pictureFileName}}');">
                <div class="infoDate"> {{format dFrom}} </div>
                <div class="card-content activity">
                    <h2 class="card-title activity">
                        {{name}}
                    </h2>
                    <p class="card-body activity truncate-text">
                        {{description}}
                    </p>
                    <a href="/activity/{{_id}}" class="button activity">Ver más</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>